.buttonMedic {
    background-color: rgb(131, 240, 116);
    color: rgb(216, 224, 255);
    border-top: solid 5px rgb(55, 55, 105);
    border-left: solid 5px rgb(55, 55, 105);
    padding: 10px 20px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 10px;

}

.buttonMedic:hover{
    background-color: rgb(255, 255, 255);
    color: black;
    border: none;
    border-top: solid 5px rgb(255, 255, 255);
    border-left: solid 5px rgb(255, 255, 255);
}

.h2 {
    text-align: center;
}

.tabela_medic {
    width: 100%;
    border-collapse: collapse;
    background: rgb(178, 227, 192);
    cursor: pointer;
    max-width: 6 00px;
    text-align: center;


}

.th {
    display: table-cell;
    background-color:rgb(95, 184, 150) ;
    vertical-align: inherit;
    font-weight: bold;
    unicode-bidi: isolate;
    border: 2px solid rgb(26, 45, 87);
    color: rgb(18, 36, 104);
}

.td {
    display: table-cell;
    vertical-align: inherit;
    unicode-bidi: isolate;
    color: rgb(30, 43, 94);
    border: 2px solid rgb(26, 45, 87);

}

.thead {
    display: table-header-group;
    vertical-align: middle;
    unicode-bidi: isolate;
    border-color: rgb(255, 255, 255);
}

.tabela_medic tr {
    display: table-row;

    vertical-align: inherit;
    unicode-bidi: isolate;

    border: 2px solid white;


}

.tbdoy {
    display: table-row-group;
    vertical-align: middle;
    unicode-bidi: isolate;
    border-color: rgb(255, 255, 255);
    max-width: 900px;


}

.medicos_conteinar {
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
    background-color: rgb(182, 206, 250);
    border-radius: 8px;
    border: 2px solid rgb(26, 45, 87);

}

.tabela_Container {
    width: 100%;
    overflow-x: auto;
}

.botao {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.selecione {
    background-color: #d8deff;
    padding: 30px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
    text-align: center;
    max-height: 80vh;
    overflow-y: auto;

}

.li {
    list-style-type: none;
}

